
.metaDataAnchor {
  color: black;
  text-decoration: none;
}

.rec-h2-title {
  align-self: center;
}

.rec-outerCarouselItemBuffer {
  padding: 5px;
}

.rec-outerCarouselComponent {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}

.rec-outerCarousel {
  border: 3px solid black;
  display: flex;  
  overflow: hidden;
  width: 1035px;
}

.rec-itemSlider {
  display: flex;
  align-content: flex-start;
}

.rec-outerCarouselItem {
  display: inline-block;
  width: 335px;
  height: 320px;
  flex-shrink: 0;
}

.rec-outerLeftButton {
  display: flex;
  align-items: center;
  font-size: 100px;
  height: 300px;
}

.rec-outerRightButton {
  display: flex;
  align-items: center;
  font-size: 100px;
  height: 300px;
}

.rec-outerLeftButton::after {
  content: "⇦";
}

.rec-outerRightButton::after {
  content: "⇨";
}

.rec-metaDataTopLine {
  display: flex;
  justify-content: space-between;
}

.rec-metaData {
  padding: 2px;
}

/**** innerCarousel ****/
:root {
  --ggs: 1.4;
}


@import url('https://css.gg/arrow-left-o.css');
@import url('https://css.gg/arrow-right-o.css');


.rec-innerCarouselComponent {
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
}

.rec-listingWrapper {
  display: flex;
  position: relative;
}

.rec-innerCarouselSlider {
  display: flex;
  align-content: flex-start;
  position: relative;
}

.rec-imageSlider {
  display: flex;
  align-content: flex-start;
  align-items: center;
}

.rec-innerCarouselItem {
  overflow: hidden;
  display: inline-block;
  width: 335px;
  height: 290px;
  background-size: cover;
  background-position: center;
}

.rec-leftImageButton {
  position: absolute;
  left: 0px;
  padding: 15px;
  /* font-size: 50px; */
  color: white;
  opacity: 0;
  background-size: cover;
  background-position: center;
}


.rec-rightImageButton {
  position: absolute;
  right: 0;
  padding: 10px;
  font-size: 30px;
  color: white;
  opacity: 0;
  background-size: cover;
  background-position: center;
}

.rec-heartButtonDiv {
  position: absolute;
  right: 0;
  top: 0;
  padding: 15px;
  opacity: 0;
  background-position: center;
  background-size: cover;
}

.rec-heartButton {
  position: absolute;
  background-position: center;
  background-size: cover;
}
