.outerCarouselComponent {
  overflow: hidden;
  display: flex;
  align-items: center;
}

.outerCarousel {
  border: 3px solid black;
  display: flex;  
  overflow: hidden;
  width: 1005px;
}

.itemSlider {
  display: flex;
  align-content: flex-start;
}

.outerCarouselItem {
  display: inline-block;
  width: 335px;
  height: 320px;
  flex-shrink: 0;
}

.outerLeftButton {
  font-size: 100px;
}

.outerLeftButton::after {
  content: "⇦";
}

.outerRightButton {
  font-size: 100px;
}

.outerRightButton::after {
  content: "⇨";
}


/**** innerCarousel ****/

.innerCarouselComponent {
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
}

.listingWrapper {
  display: flex;
  position: relative;
}

.innerCarouselSlider {
  display: flex;
  align-content: flex-start;
  position: relative;
}

.innerCarouselItem {
  overflow: hidden;
  display: inline-block;
  width: 335px;
  height: 320px;
}

.imageSlider {
  display: flex;
  align-content: flex-start;
  align-items: center;
}

.leftImageButton {
  position: absolute;
  left: 0;
  padding: 10px;
  font-size: 30px;
}

.leftImageButton::after {
  content: "⇦";
}

.rightImageButton {
  position: absolute;
  right: 0;
  padding: 10px;
  font-size: 30px;
}

.rightImageButton::after {
  content: "⇨";
}

.heartButton {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
}

.heartButton::after {
  content: 'heart'
}