

.outerCarouselItemBuffer {
  padding: 5px;
}

.outerCarouselComponent {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}

.outerCarousel {
  border: 3px solid black;
  display: flex;  
  overflow: hidden;
  width: 1035px;
}

.itemSlider {
  display: flex;
  align-content: flex-start;
}

.outerCarouselItem {
  display: inline-block;
  width: 335px;
  height: 320px;
  flex-shrink: 0;
}

.outerLeftButton {
  display: flex;
  align-items: center;
  font-size: 100px;
  height: 300px;
}

.outerRightButton {
  display: flex;
  align-items: center;
  font-size: 100px;
  height: 300px;
}

.outerLeftButton::after {
  content: "⇦";
}

.outerRightButton::after {
  content: "⇨";
}

.metaDataTopLine {
  display: flex;
  justify-content: space-between;
}

.metaData {
  padding: 2px;
}

/**** innerCarousel ****/
:root {
  --ggs: 1.4;
}


@import url('https://css.gg/arrow-left-o.css');
@import url('https://css.gg/arrow-right-o.css');


.innerCarouselComponent {
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
}

.listingWrapper {
  display: flex;
  position: relative;
}

.innerCarouselSlider {
  display: flex;
  align-content: flex-start;
  position: relative;
}

.imageSlider {
  display: flex;
  align-content: flex-start;
  align-items: center;
}

.innerCarouselItem {
  overflow: hidden;
  display: inline-block;
  width: 335px;
  height: 290px;
  background-size: cover;
  background-position: center;
}

.leftImageButton {
  position: absolute;
  left: 0px;
  padding: 15px;
  /* font-size: 50px; */
  color: white;
  opacity: 0;
  background-size: cover;
  background-position: center;
}


.rightImageButton {
  position: absolute;
  right: 0;
  padding: 10px;
  font-size: 30px;
  color: white;
  opacity: 0;
  background-size: cover;
  background-position: center;
}

.heartButtonDiv {
  position: absolute;
  right: 0;
  top: 0;
  padding: 15px;
  opacity: 0;
  background-position: center;
  background-size: cover;
}

.heartButton {
  position: absolute;
  background-position: center;
  background-size: cover;
}

/* .heartButtonDiv::after {
  content: 'heart'
} */

/* .heart {
  background-color: red;
  height: 30px;
  transform: rotate(-45deg);
  width: 30px;
}

.heart:before {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
}

.heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
}
  
.heart:before {
  top: -15px;
  left: 0;
}

.heart:after {
  bottom: 15px;
  right: 0;
} */