.outerCarousel {
  border: 3px solid black;
  display: flex;  
  overflow: hidden;
  width: 900px;
}

.outerCarouselComponent {
  overflow: hidden;
  display: flex;
  align-items: center;
}

.outerCarouselItem {
  display: inline-block;
  width: 300px;
  height: 400px;
}

.slider {
  display: flex;
  align-content: flex-start;
}

.outerCarouselItem {
  flex-shrink: 0;
  width: 300px;
}

.outerLeftButton {
  font-size: 100px;
}

.outerLeftButton::after {
  content: "⇦";
}

.outerRightButton {
  font-size: 100px;
}

.outerRightButton::after {
  content: "⇨";
}
